<nav class="nav-top">
	<ul class="text-xs-center">
		<li>
			<!--检索框-->
			{% include searchbar.html %}    
		</li>
		<li><a href="#" id="search-btn" class="label label-darkblue tooltip" title="search"><span class="icon icon-search"></span></a></li>
		<li class="site-name"><a href="/" class="label label-darkblue character">{{site.namecn}}</a></li>
		<li><a href="/atom.xml" class="label label-darkblue tooltip" title="RSS" target="_blank"><span class="icon icon-rss"></span></a></li>
		<li><a href="https://github.com/{{ site.name }}" class="label label-darkblue tooltip" title="GitHub" target="_blank"><span class="icon icon-github"></span></a></li>
	</ul>
</nav>