<form id="search-bar" action="/search" onsubmit="encodeKeyword()">
	<div class="typeahead__container">
		<div class="typeahead__field">

			<span class="typeahead__query">
                <input class="js-typeahead"
                       name="q"
                       type="search"
                       autocomplete="off">
            </span>
			<span class="typeahead__button" hidden="hidden">
                <button type="submit">
                    <span class="typeahead__search-icon"></span>
				</button>
			</span>

		</div>
	</div>
</form>